  @import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;700&family=Public+Sans:wght@400;500;700;800&display=swap');

:root {
  --main-color: #092179;
  --body-color: #F7F9FD;

  --main-font: "Public Sans", sans-serif;
  --heading-font: "Montserrat", sans-serif;
  --button-font: "Lato", sans-serif;
}

*{
  z-index: 2;
}

body {
  background-color: var(--body-color);
  font-family: var(--main-font);
}
.lbl-form-urutkan{
  font-family: 'Public Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: -0.011em;

/* Neutral/100 */

color: #0A0A0A;
}
.main-color{
  color: var(--main-color);
}

.abu{
  color: #3D3F40;
}
.title-article{
  font-size: 36px;
}

.container{
  margin-left: 60px;
  margin-right: 60px;
}

@media screen and (max-width:576px) {
  .container{
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
  }
}
/* Home.html style */
/* Navbar style */
.navbar {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  background-color: var(--main-color);
  /* margin: 28px 72px 0 72px;
  border-radius: 14px; */

  display: flex;
  padding-left: 1rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 260px;
  height: 60px;
}

.sticky-top{
  position: -webkit-sticky !important;
    position: sticky;
    top: 0;
}

@media screen and (max-width:576px){
  .navbar {
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    background-color: var(--main-color);
    /* margin: 32px 20px 0 20px;
    border-radius: 14px; */
  
    display: flex;
    padding-left: 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 260px;
    height: 60px;
  }
}

.button-primary {
  width: 85px;
  height: 40px;
  border-radius: 8px;
  border: 0;
  background-color: transparent;
  font-family: var(--button-font);
  color: white;
}

.button-secondary {
  width: 85px;
  height: 40px;
  background-color: white;
  border: 0;
  border-radius: 8px;
  font-family: var(--button-font);
  font-size: 16px;
  font-weight: 600;
  color: var(--main-color);
  margin-right: 4px;
}

/* .navbar { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  gap: 260px;

  background-color: #24598e;
  position: absolute;
  width: 1296px;
  height: 60px;
  left: 20px;
  top: 20px;
} */

/* Hero section */
#hero{
  /* margin-top: 110px; */
  height: 90vh;
  width: 100%;
}
/* #hero .row{
  margin-top: 50px;
} */
.mt-8{
  margin-top: 100px;
}
.HeroImageNew{
  filter: brightness(30%);
  height: 100vh;
}

/* @media screen and (min-width:1000px) {
  #hero{
    height: 70vh;
  }
} */

@media screen and (min-width:576px) and (max-width:992px){
  #hero{
    height: 80vh;
  }
} 

@media screen and (min-width:0px) and (max-width:400px){
  #hero{
    height: 90vh;
  }
} 
@media screen and (max-height:800px) and (max-width:400px){
  #hero{
    height: 110vh;
  }
} 

.hero-tagline h1{
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 58px;
  text-transform: capitalize;
}

.hero-tagline h1{
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-transform: capitalize;
}



.hero-tagline p{
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
}

.img-hero{
  z-index: 1;
  width: 48%;
  margin-right: 10px;
}

.hero-card{
  z-index: 3;
  border: 0;
  border-radius: 12px;
  padding: 20px 32px;
  font-family: var(--main-font);
  font-weight: 800;
  font-size: 28px;
}

.hero-card .card-body{
  padding: 0;
}


.btn-carijadwal{
  background: #092179;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 4px;
  
  width: 130px;
  height: 40px;

  color: white;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.btn-carijadwal:hover{
  background: #092179;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 4px;
  
  width: 130px;
  height: 40px;

  color: white;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

/* #hero h1{
  font-family: var(--heading-font);
  font-size: 36px;
  font-weight: 700;
  
} */

/* wa floating style */
#wa.btn-floating{
  position: fixed;
  right: 20px;
  bottom: 25px;
  overflow: hidden;
  width: 50px;
  padding-left: 9px;
  height: 50px;
  border-radius: 100px;
  border: 2px solid #fff;
  z-index: 99;
  color: white;
  transition: .2s;
  background-color: #34af23;
}

#wa.btn-floating:hover{
  width: auto;
  padding: 0 15px;
  cursor: pointer;
}

#wa.btn-floating:hover img{
  margin-bottom: -3px;
}

#wa.btn-floating span{
  font-family: var(--button-font);
  font-size: 16px;
  margin-left: 5px;
  transition: .8s;
  line-height: 0px;
  display: none;
}

#wa.btn-floating:hover span{
  display: inline-block;
}

/* Layanan Section */
#layanan{
  height: 100%;
  left: 0px;
  top: 724px;
  border-radius: 0px;
  background-color: white;
  padding-top: 48px ;
  padding-bottom: 48px ;
  margin-top: 20px;
}

#layanan .card-tagline .card{
  border: 0;
  background-color: #F7F9FD;
}

.layanan-tagline h1{
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-transform: capitalize;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
}


.card-tagline h5{
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: var(--main-color);
  text-align: center;
  margin: 0;
}

.card-tagline p{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: black;
}

@media screen and(min-width:1400px) {
  .card-tagline h5{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 10px;
    line-height: 28px;
    color: var(--main-color);
    text-align: center;
    margin: 0; 
  }
}

@media screen and (min-width:400px) and (max-width:992px){
  .layanan-tagline h1{
    font-family: var(--heading-font);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 58px;
    text-transform: capitalize;
    text-align: center;
  }
  
  .card-tagline h5{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: var(--main-color);
    text-align: center;
    margin: 0;
  }
  
  .card-tagline p{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: black;
  }
}

@media screen and (max-width:576px){
  #layanan{
    padding-top: 24px ;
    padding-bottom: 24px ;
  }
  .card-tagline{
    padding: 0 20px;
  }
  .card-tagline .card{
    display: block;
    width: 100%;
  }
  .layanan-tagline h1{
    font-family: var(--heading-font);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
    text-align: center;
  }
  
  .card-tagline h5{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--main-color);
    text-align: center;
    margin: 0;
  }
  
  .card-tagline p{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin: 0;
    color: black;
  }
}
/* Mengapa style */
.mengapa-tagline h1{
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-transform: capitalize;
}

.mengapa-tagline h5{
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: var(--main-color);
  align-items: center;
  margin: 0;
}

.mengapa-tagline p{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: black;
}

.img-hero{
  width: 48%;
  margin-right: 10px;
}


@media screen and (max-width:992px){
  .mengapa-card{
    justify-content: center;
    left: 0px;
    border: 0;
    border-radius: 16px;
    width: 342px;
  }
}
@media screen and (min-width:992px){
  .mengapa-card{
    z-index: 3;
    left: -63px;
    border: 0;
    border-radius: 16px;
    width: 342px;
  }
}

.mengapa-tagline .material-icons{
  left: 8.33%;
  right: 8.33%;
  top: 4.17%;
  bottom: 4.17%;
  font-size: 33px;
}
/* Tutorial style */
#tutorial{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 72px;
  gap: 16px;
  background-color: white;
}

.tutor-tagline h1{
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-transform: capitalize;
  text-align: center;
}

.step-img{
  width: 90%;
}

@media screen and (min-width:768px) and (max-width:992px) {
  .dot{
    transform: rotate(90deg);
    left: -30px;
    position: relative;
  }
}
@media screen and (max-width:768px) {
  .dot{
    transform: rotate(90deg);
    left: -18px;
    position: relative;
  }
}


.rotate-90{
  transform: rotate(90deg);
  left: -12px;
  position: relative;
}

/* Artikel style */
#artikel{
  margin: 40px 0;
}

.artikel-img{
  border-radius: 12px;
}

#artikel h3{
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 28px;
}

#artikel a{
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  color: #5D5F61;
}

#artikel h4{
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 20px;
  color: #5D5F61;
}

#artikel .card{
  background-color: transparent;
  border: 0;
  border-radius: 0%;
  border-bottom: 1px solid #D8DCE0;
}

.artikel-card h5{
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
}

.artikel-card p{
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.artikel-card span{
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  color: #0A0A0A;
}

.artikel-card span.tgl{
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  color: #3D3F40;
}

.footer-ats{
  background-color: #213D6C;
  color: #989B9D;
}

.footer-bwh{
  background-color: #162746;
  color: #989B9D;
}

.footer-bwh i{
  font-size: 18px;
}

.ftrats h5{
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.ftrats p{
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: white;
}

@media screen and (min-width:820px) {
  .ftrdesc{
    width: 300px;
  }
}


.btn-selengkapnya{
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-color);
}

.btn-selengkapnya a{
  background-color: #DCE5F4;
}

/* about.html style */
/* tentang style */
/* #tentang{
  margin-top: 110px;
} */
/* #tentang .container{
  margin-left: 20px;
  margin-right: 20px;
} */
.tentang-tagline h1{
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 58px;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.tentang-tagline h5{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-color);
}

.tentang-tagline p{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.card-body{
  padding: 24px;
}

.logoabout{
  max-width: 100%;
}

/* Temukan style */
#temukan{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 72px 48px;
  gap: 16px;
  height: auto;
  background: #FFFFFF;
}

.temukan-tagline h1{
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 58px;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.temukan-tagline h6{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-color);
}

.temukan-tagline p{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/* Track style */
/* button style */
.btn-track1{
  background: var(--main-color);
  border-radius: 8px 0px 0px 8px;
  border: 0;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.btn-track1resi{
  background: #DCE5F4;
  border-radius: 8px 0px 0px 8px;
  border: 0;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-color);
}

/* .btn-track1 a:hover{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
} */

.btn-track2{
  background: #DCE5F4;
  border-radius: 0px 8px 8px 0px;
  border: 0;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-color);
}

.btn-track2resi{
  background: var(--main-color);
  border-radius: 0px 8px 8px 0px;
  border: 0;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

/* .btn-track2:hover{
  background: var(--main-color);
  border: 0;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
} */

/* Live Map style */
.btn-livemap{
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-color);
  text-decoration: none;
}

.lmap-tagline{
  margin-top: 36px;
}

.lmap-tagline h1{
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 4px;
}

.lmap-tagline p{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/* cekresi.html style */
/* resi style */
#resi{
  height: 80vh;
}
.inputresi{
  height: 40px;
}

@media screen and (min-width:600px) and (max-width:992px){
  .inputresi{
    display: block;
    width: 100%;
}
}

/* .lacak p{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 20px;
  color: #989B9D;
} */

.btn-lacak{
  background-color: var(--main-color);
  width: 85px;
  height: 40px;
  border-radius: 8px;
  border: 0;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

/* blog.html style */
/* hdblog */
#articleblog .card{
  border: none;
  background-color: transparent;
}

#articleblog .card .card-body{
  padding-left: 0;
}

#articleblog a{
  text-decoration: none;
  color: #0A0A0A;
}

#articleblog p{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

#articleblog h1{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 32px;
}

#articleblog img{
  margin-top: 16px;
  margin-bottom: 24px;
}

@media screen and (min-width: 1440px) {
  #articleblog p{
    padding-right: 30px;
  }
}

.hdblog-tagline{
  margin-top: 40px;
}

.hdblog-tagline h2{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

.hdblog-tagline h3{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.authormini span{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;  
}


/* result.html style */
/* timeline style */
.bold{
  font-family:  var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.bold.time{
  color: #5D5F61;
}

.time{
  position:absolute; left:-110px;
}

.timeline-wrapper {
  padding-left:65px;
  min-width: 400px;
  font-family: 'Helvetica';
  font-size: 14px;
}

.StepProgress {
position: relative;
padding-left: 45px;
list-style: none;
}

.StepProgress::before {
display: inline-block;
content: '';
position: absolute;
top: 2px;
left: 133px;
width: 10px;
height: 100%;
border-left: 2px solid #DCE5F4;
}

.StepProgress-item {
position: relative;
counter-increment: list;
padding-left: 110px;
}

.StepProgress-item:not(:last-child) {
  padding-bottom: 20px;
}

.StepProgress-item::before {
display: inline-block;
content: '';
position: absolute;
left: 88px;
height: 100%;
width: 10px;
}

.StepProgress-item::after {
content: '';
display: inline-block;
position: absolute;
top: 2px;
left: 79px;
width: 20px;
height: 20px;
border: 2px solid #DCE5F4;
border-radius: 50%;
background-color: #DCE5F4;
}

.StepProgress-item::after:not(:last-child){
  top: 10px;
}

.StepProgress-item.is-done::before {
border-left: 2px solid var(--main-color);
top: 2px;
}

.StepProgress-item.is-done::after {
font-size: 10px;
color: #FFF;
text-align: center;
border: 2px solid var(--main-color);
background-color: var(--main-color);
}

@media screen and (max-width:520px) {
  .bold{
    font-family:  var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  
  .bold.time{
    color: #5D5F61;
  }
  
  .time{
    position:absolute; left:-110px;
  }
  
  .timeline-wrapper {
    padding-left:65px;
    min-width: 400px;
    font-family: 'Helvetica';
    font-size: 14px;
  }
  
  .StepProgress {
  position: relative;
  list-style: none;
  }
  
  .StepProgress::before {
  display: inline-block;
  content: '';
  position: absolute;
  top: 2px;
  left: -55px;
  width: 10px;
  height: 100%;
  border-left: 2px solid #DCE5F4;
  }
  
  .StepProgress-item {
  position: relative;
  counter-increment: list;
  left: -80px;
  padding-left: 0px ;
  }
  
  .StepProgress-item:not(:last-child) {
    padding-bottom: 20px;
  }
  
  .StepProgress-item::before {
  display: inline-block;
  content: '';
  position: absolute;
  left: -20px;
  height: 100%;
  width: 10px;
  }
  
  .StepProgress-item::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 2px;
  left: -30px;
  width: 20px;
  height: 20px;
  border: 2px solid #DCE5F4;
  border-radius: 50%;
  background-color: #DCE5F4;
  }
  
  .StepProgress-item::after:not(:last-child){
    top: 10px;
  }
  
  .StepProgress-item.is-done::before {
  border-left: 2px solid var(--main-color);
  top: 2px;
  }
  
  .StepProgress-item.is-done::after {
  font-size: 10px;
  color: #FFF;
  text-align: center;
  border: 2px solid var(--main-color);
  background-color: var(--main-color);
  }
}
/* Schedule.html style */
.bg-img{
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 0;
}

#inputrute .row{
  margin-top: 116px;
}

#inputrute .card{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 20px 32px 32px;
  gap: 16px;

  box-shadow: 0px 0px 36px rgba(10, 10, 10, 0.12);
  border-radius: 12px;
}

#inputrute .card-body{
  padding: 0;
}

.lbl-form{
  font-family: 'Public Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
}

.selectsch{
  padding: 8px 16px;
}

.cardsch p{
  background-color: #F7F7F7;
  padding: 4px 12px;
  border-radius: 96px;
  margin: 0;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #20573D;
}

.labelsch p{
  background-color: #F7F7F7;
  padding: 4px 12px;
  border-radius: 96px;
  margin: 0;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #20573D;
}

.tujuancardsch{
  padding-left: 90px;
}

.arrowright{
  left: -15px;
  font-size: 38.11px;
  position: absolute;
  color: var(--main-color);
}

.btn-pesan{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 4px;
  width: 82px;
  height: 40px;

  background: #092179;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-family: var(--button-font);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.btn-pesan-tab{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 4px;
  width: 100%;
  height: 40px;

  background: #092179;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-family: var(--button-font);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.pesan a:hover{
  color: #e2e2e2;
}
.btn-pesan-tab a:hover{
  color: #FFF;
}
/* .btn-sch{
  width: 262.25px;
  height: 40px;
  background: #FFFFFF;  
  border: 1px solid #BABEC1;
  border-radius: 8px;
} */

#my-template{
  width: 100%;
}

/* login style */
#login{
  height: 100vh;
  width: auto;
  background-color: #F7F9FD;
}

.img-login{
  width: 380px;
  height: 110px;
}

.login-tagline h1{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height, or 122% */
  
  text-align: center;
}

.btn-login{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 4px;
  
  width: 421px;
  height: 40px;
  
  /* Neutral/30 */
  
  background: #E4E9EC;
  border-radius: 8px;
}

.btn-login:hover{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 4px;
  
  width: 421px;
  height: 40px;
  
  /* Neutral/30 */
  
  background: var(--main-color);
  border-radius: 8px;

  color: #FFF;
}

#login a{
  text-decoration: none;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

#login label{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.persetujuan{
  display: flex;
  width: 100%;;
}

#login form{
  margin: 240px;
  width: fit-content;
}

.login-tagline h3{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

@media screen and (min-width:576px) and (max-width:992px) {
  #login form{
    margin: 80px;
    width: fit-content;
  }
}
@media screen and (max-width:576px) {
  #login form{
    margin: 20px;
    width: fit-content;
  }
}
@media screen and (max-width:440px) {
  .img-login{
    width: 240px;
    height: 70px;
  }
}

/* register style */
#register{
  height: 100vh;
  width: auto;
  background-color: #F7F9FD;
}

#register a{
  text-decoration: none;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.latest {
  display:inline;
}
#register label{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

#register form{
  margin: 40px 240px ;
  width: fit-content;
}

@media screen and (min-width:576px) and (max-width:992px) {
  #register form{
    margin: 80px;
    width: fit-content;
  }
}
@media screen and (max-width:576px) {
  #register form{
    margin: auto;
    width: fit-content;
  }
}
@media screen and (max-width:440px) {
  .img-login{
    width: 240px;
    height: 70px;
  }
}

/* Media Query */
@media screen and (min-width:600px) and (max-width:992px) {
  .hero-tagline h1{
    font-family: var(--heading-font);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-transform: capitalize;
  }    
  .mengapa-tagline h1{
    font-family: var(--heading-font);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    text-transform: capitalize;
  }
  .layanan-tagline h1{
    font-family: var(--heading-font);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 58px;
    text-transform: capitalize;
    text-align: center;
  }
  .tutor-tagline h1{
    font-family: var(--heading-font);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-transform: capitalize;
  }
  .btn-carijadwal{
    background: #092179;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    gap: 4px;
    display: block;
    
    width: 100%;
    height: 40px;
  
    color: white;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width:600px) {
  .container{
    margin-left: 8px;
    margin-right: 8px;
    width: auto;
  }
  .hero-tagline h1{
    font-family: var(--heading-font);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
    text-align: center;
  }    
  .hero-tagline p{ 
    font-family: var(--heading-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;  
    text-align: center;
  }
  .layanan-tagline h1{
    font-family: var(--heading-font);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
    text-align: center;
  }
  .mengapa-tagline h1{
    font-family: var(--heading-font);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
  }
  .tutor-tagline h1{
    font-family: var(--heading-font);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
  }
  /* artikel di index */
  #artikel h3{
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: 16px;
  }
  #artikel h4{
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: 14px;
    color: #5D5F61;
  }
  .artikel-card h5{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
  }
  .artikel-card p{
    font-family: var(--main-font);
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
  }
  .artikel-card span{
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 12px;
    color: #0A0A0A;
  }
  /* footer */
  .ftrats h5{
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
  }
  
  .ftrats p{
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: white;
  }
  .footer-bwh i{
    font-size: 32px;
  }
}

@media screen and (min-width:992px){
  #hero{
    /* margin-top: 100px; */
  }
  .hero-tagline{
    color: #fff;
  }
}

/* Bendo */
.filter-tab{
  display: none;
  border: 1px solid var(--main-color);
}
.tab-row{
  display: none;
}
.input-group-append {
  cursor: pointer;
}
@media (max-width:992px){
  #inputrute .card{
    display: none;
  } 
  .offcanvas.offcanvas-bottom{
    display: flex;
flex-direction: column;
/* justify-content: center; */
/* align-items: center; */
padding: 24px 72px;
/* gap: 8px; */

width: 100%;
height: 760px;

/* Neutral/10 */

background: #FFFFFF;
border-radius: 24px 24px 0px 0px;
  }
  
  .filter-schedule{
    display: none;
  } 
  .filter-tab{
    display: inline;
  } 
  .arrow-circle {
    display: none;
  }
  .float-right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    gap: 4px;
    width:100%;
    height: 28px;
    background: #F7F9FD;
    border-radius: 96px;

    flex: none;
    order: 1;
    flex-grow: 0; 
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    }
 .swal2-container.swal2-center>.swal2-popup{
   display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 35px;
    gap: 24px;

    position: relative;
    width: 320px;
    height: 328px;
    background: #EBF0F4;
    border-radius: 16px;
  }
  .swal2-title{
   width: 250px;
    height: 100px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
  }
  .swal2-styled.swal2-confirm{
    display: flex;
    margin-top: 20px;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px;
gap: 4px;

width: 195px;
height: 44px;

/* Primary/Main */

background: #092179;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
  }
  .swal2-styled.swal2-cancel{
     display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
/* padding: 12px 20px; */
gap: 4px;
color: var(--main-color);
margin-bottom: 15px;
width: 195px;
height: 44px;

/* Primary/Main */

border-radius: 8px;
background: none;
border:1px solid #092179;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
  }
}


@media (max-width: 992px) {
  nav .navbar-brand {
  margin-bottom: 21px;
}
#articleblog h1{
  width: 624px;
height: 28px;

/* Heading/H3 */

font-family: 'Public Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */

letter-spacing: -0.017em;

/* Neutral/100 */

color: #0A0A0A;
}

.latest{
  display: none;
} 
.sort-time{
  display: none;
}
.arrow-circle {
display: flex;
}
.desktop-row{
display: none;
}
.tab-row{
display: flex;
}
.reset-offcanvas {
  width: 32px;
  height: 6px;
  border: none;
  background-color: #BABEC1;
  border-radius: 96px;
  margin-top: 24px;
  position: absolute;
}
  nav .nav-list {
      display: grid;
      position: absolute;
      background: var(--main-color);
      width: 100%;
      top: 40px;
      left: 0;
      border-radius: 10px;
      transform: translateY(-200%);
      z-index: -1;
      transition: .6s;
  }

  nav .nav-list .nav-item {
      padding-left: 35px;
  }

  nav .navbar-toggler {
      display: grid !important;
  }

}

nav .navbar-toggler {
  display: none;
  height: min-content;
  /* margin-top: 10px; */
  margin-bottom: 10px;
  cursor: pointer;
}

nav .navbar-toggler .bar {
  width: 20px;
  height: 3px;
  border: none;
  margin-bottom: 5px;
  background: #ffffff;
  border-radius: 10%;
  transition: .4s;
}

input {
  display: none;
}

input:checked ~ nav .nav-list {
  transform: translateY(0);
}

input:checked ~ nav .navbar-toggler {
  margin-top: 30px;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
  position: absolute;
  margin-bottom: 50px;
  transform: rotate(45deg);
}

input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
  display: none;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
margin-bottom: 50px;
  transform: rotate(-45deg);
}



@media (max-width: 922px) {
  nav .navbar-brand {
  margin-bottom: 21px ; 
}
.user-id{
  padding-left: 24px;
}
#articleblog h1{
  width: 624px;
height: 28px;

/* Heading/H3 */

font-family: 'Public Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */

letter-spacing: -0.017em;

/* Neutral/100 */

color: #0A0A0A;
}

.latest{
  display: none;
} 
.latest img{
  width: 100%;
  margin: 0px;
}
.sort-time{
  display: none;
}
.arrow-circle {
display: flex;
}
.desktop-row{
display: none;
}
.tab-row{
display: flex;
}
.reset-offcanvas {
  width: 32px;
  height: 6px;
  border: none;
  background-color: #BABEC1;
  border-radius: 96px;
  margin-top: 24px;
  position: absolute;
}
  nav .nav-list {
      display: grid;
      position: absolute;
      background: var(--main-color);
      width: 100%;
      top: 40px;
      left: 0;
      border-radius: 10px;
      transform: translateY(-200%);
      z-index: -1;
      transition: .6s;
  }

  nav .nav-list .nav-item {
      padding-left: 35px;
  }

  nav .navbar-toggler {
      display: grid !important;
  }

}

nav .navbar-toggler {
  display: none;
  height: min-content;
  /* margin-top: 10px; */
  margin-bottom: 10px;
  cursor: pointer;
}

nav .navbar-toggler .bar {
  width: 20px;
  height: 3px;
  border: none;
  margin-bottom: 5px;
  background: #ffffff;
  border-radius: 10%;
  transition: .4s;
}

input {
  display: none;
}

input:checked ~ nav .nav-list {
  transform: translateY(0);
}

input:checked ~ nav .navbar-toggler {
  margin-top: 30px;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
  position: absolute;
  margin-bottom: 50px;
  transform: rotate(45deg);
}

input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
  display: none;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
margin-bottom: 50px;
  transform: rotate(-45deg);
}
@media screen and (max-width:780px){
  #hasilsch h5{
      font-size: 16px;
  }
  #hasilsch p{
    font-size: 12px;
  }
   #hasilsch  .card-body{
    padding: 16px;
  }
  #hasilsch .arrow-circle {
    display: none;
    left: 20px;
  }
  #filter.btn-floating{
  position: fixed;
  width: 104;
  height: 44px;
  left: calc(45% - 164px/2);
  bottom: 50px;
  overflow: hidden;
  /* width: 50px; */
  padding-left: 9px;
  height: 50px;
  /* border-radius: 100px; */
  border-radius: 8px;
  /* border: 2px solid #fff; */
  box-shadow: 0px 16px 32px rgba(10, 10, 10, 0.08);
  z-index: 99;
  color: white;
  transition: .2s;
  background-color:  #092179;
  font-family: 'Public Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
letter-spacing: -0.006em;

color: #FFFFFF;

}

#filter.btn-floating:hover{
  width: auto;
  padding: 0 15px;
  cursor: pointer;
}

#filter.btn-floating:hover img{
  margin-bottom: -3px;
}

#filter.btn-floating span{
  font-family: var(--button-font);
  font-size: 16px;
  margin-left: 5px;
  transition: .2s;
  line-height: 0px;
  display: none;
}

#filter.btn-floating:hover span{
  display: inline-block;
}
}