  @import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;700&family=Public+Sans:wght@400;500;700;800&display=swap');

:root {
  --main-color: #2f5597;
  --body-color: #F7F9FD;

  --main-font: "Public Sans", sans-serif;
  --heading-font: "Montserrat", sans-serif;
  --button-font: "Lato", sans-serif;
}

*{
  z-index: 2;
  
}

body {
  background-color: var(--body-color);
  font-family: var(--main-font);
}

.main-color{
  color: var(--main-color);
}

.abu{
  color: #3D3F40;
}

/* Home.html style */
/* Navbar style */
.navbar {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  background-color: var(--main-color);
  margin: 28px 72px 0 72px;
  border-radius: 14px;

  display: flex;
  padding-left: 1rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 260px;
  height: 60px;
}

.button-primary {
  width: 85px;
  height: 40px;
  border-radius: 8px;
  border: 0;
  background-color: transparent;
  font-family: var(--button-font);
  color: white;
}

.button-secondary {
  width: 85px;
  height: 40px;
  background-color: white;
  border: 0;
  border-radius: 8px;
  font-family: var(--button-font);
  font-size: 16px;
  font-weight: 600;
  color: var(--main-color);
  margin-right: 4px;
}

/* .navbar { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  gap: 260px;

  background-color: #24598e;
  position: absolute;
  width: 1296px;
  height: 60px;
  left: 20px;
  top: 20px;
} */

/* Hero section */
#hero{
  height: 110vh;
  width: 100%;
}

@media screen and (min-width:1300px){
  #hero{
    height: 90vh;
  }
}

.hero-tagline h1{
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 58px;
  text-transform: capitalize;
}

.hero-tagline p{
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
}

.img-hero{
  z-index: 1;
  width: 48%;
  margin-right: 10px;
}

.hero-card{
  z-index: 3;
  border: 0;
  border-radius: 12px;
  padding: 20px 32px;
  width: 808px;
  height: 300px;
  font-family: var(--main-font);
  font-weight: 800;
  font-size: 28px;
}

.hero-card .card-body{
  padding: 0;
}

.btn-carijadwal{
  background: #2F5597;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 4px;
  
  width: 130px;
  height: 40px;

  color: white;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.btn-carijadwal:hover{
  background: #2F5597;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 4px;
  
  width: 130px;
  height: 40px;

  color: white;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

/* #hero h1{
  font-family: var(--heading-font);
  font-size: 36px;
  font-weight: 700;
  
} */

/* wa floating style */
#wa.btn-floating{
  position: fixed;
  right: 20px;
  bottom: 25px;
  overflow: hidden;
  width: 50px;
  padding-left: 9px;
  height: 50px;
  border-radius: 100px;
  border: 2px solid #fff;
  z-index: 99;
  color: white;
  transition: .2s;
  background-color: #34af23;
}

#wa.btn-floating:hover{
  width: auto;
  padding: 0 15px;
  cursor: pointer;
}

#wa.btn-floating:hover img{
  margin-bottom: -3px;
}

#wa.btn-floating span{
  font-family: var(--button-font);
  font-size: 16px;
  margin-left: 5px;
  transition: .2s;
  line-height: 0px;
  display: none;
}

#wa.btn-floating:hover span{
  display: inline-block;
}

/* Layanan Section */
#layanan{
  height: 672px;
  width: 100%;
  left: 0px;
  top: 724px;
  border-radius: 0px;
  padding: 32px 72px 32px 72px;
  background-color: white;
}

#layanan .card-tagline .card{
  border: 0;
  background-color: #F7F9FD;
}

.layanan-tagline h1{
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 58px;
  text-transform: capitalize;
  text-align: center;
}

.card-tagline h5{
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: var(--main-color);
  text-align: center;
  margin: 0;
}

@media screen and(min-width:1400px) {
  .card-tagline h5{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 10px;
    line-height: 28px;
    color: var(--main-color);
    text-align: center;
    margin: 0; 
  }
  
}

.card-tagline p{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: black;
}

/* Mengapa style */
.mengapa-tagline h1{
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 58px;
  text-transform: capitalize;
}

.mengapa-tagline h5{
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: var(--main-color);
  align-items: center;
  margin: 0;
}

.mengapa-tagline p{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: black;
}

.img-hero{
  width: 48%;
  margin-right: 10px;
}


.mengapa-card{
  z-index: 3;
  left: -63px;
  border: 0;
  border-radius: 16px;
  width: 342px;
}

.mengapa-tagline .material-icons{
  left: 8.33%;
  right: 8.33%;
  top: 4.17%;
  bottom: 4.17%;
  font-size: 33px;
}
/* Tutorial style */
#tutorial{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 72px;
  gap: 16px;
  background-color: white;
}

.tutor-tagline h1{
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 58px;
  text-transform: capitalize;
  text-align: center;
}

.step-img{
  width: 90%;
}

/* Artikel style */
#artikel{
  margin: 40px 0;
}

.artikel-img{
  border-radius: 12px;
}

#artikel h3{
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 28px;
}

#artikel a{
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  color: #5D5F61;
}

#artikel h4{
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 20px;
  color: #5D5F61;
}

#artikel .card{
  background-color: transparent;
  border: 0;
  border-radius: 0%;
  border-bottom: 1px solid #D8DCE0;
}

.artikel-card h5{
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
}

.artikel-card p{
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.artikel-card span{
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  color: #0A0A0A;
}

.artikel-card span.tgl{
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  color: #3D3F40;
}

.footer-ats{
  background-color: #213D6C;
  color: #989B9D;
}

.footer-bwh{
  background-color: #162746;
  color: #989B9D;
}

.ftrats h5{
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.ftrats p{
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: white;
}

/* about.html style */
/* tentang style */
.tentang-tagline h1{
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 58px;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.tentang-tagline h5{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-color);
}

.tentang-tagline p{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.card-body{
  padding: 24px;
}

/* Temukan style */
#temukan{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 72px 48px;
  gap: 16px;
  height: 380px;
  background: #FFFFFF;
}

.temukan-tagline h1{
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 58px;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.temukan-tagline h6{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-color);
}

.temukan-tagline p{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/* Track style */
/* button style */
.btn-track1{
  background: var(--main-color);
  border-radius: 8px 0px 0px 8px;
  border: 0;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.btn-track1resi{
  background: #DCE5F4;
  border-radius: 8px 0px 0px 8px;
  border: 0;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

/* .btn-track1 a:hover{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
} */

.btn-track2{
  background: #DCE5F4;
  border-radius: 0px 8px 8px 0px;
  border: 0;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-color);
}

.btn-track2resi{
  background: var(--main-color);
  border-radius: 0px 8px 8px 0px;
  border: 0;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

/* .btn-track2:hover{
  background: var(--main-color);
  border: 0;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
} */

/* Live Map style */
.lmap-tagline{
  margin-top: 36px;
}

.lmap-tagline h1{
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 4px;
}

.lmap-tagline p{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/* cekresi.html style */
/* resi style */
#resi{
  height: 80vh;
}

/* .lacak p{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 20px;
  color: #989B9D;
} */

.btn-lacak{
  background-color: var(--main-color);
  width: 85px;
  height: 40px;
  border-radius: 8px;
  border: 0;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

/* blog.html style */
/* hdblog */
#articleblog .card{
  border: none;
  background-color: transparent;
}

#articleblog .card .card-body{
  padding-left: 0;
}

#articleblog a{
  text-decoration: none;
  color: #0A0A0A;
}

#articleblog p{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

#articleblog h1{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 32px;
}

#articleblog img{
  margin-top: 16px;
  margin-bottom: 24px;
}

@media screen and (min-width: 1440px) {
  #articleblog p{
    padding-right: 30px;
  }
}

.hdblog-tagline{
  margin-top: 40px;
}

.hdblog-tagline h2{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

.hdblog-tagline h3{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.authormini span{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;  
}


/* result.html style */
/* timeline style */
.bold{
  font-family:  var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.bold.time{
  color: #5D5F61;
}

.time{
  position:absolute; left:-110px;
}

.timeline-wrapper {
  padding-left:65px;
  min-width: 400px;
  font-family: 'Helvetica';
  font-size: 14px;
}

.StepProgress {
position: relative;
padding-left: 45px;
list-style: none;
}

.StepProgress::before {
display: inline-block;
content: '';
position: absolute;
top: 2px;
left: 133px;
width: 10px;
height: 100%;
border-left: 2px solid #DCE5F4;
}

.StepProgress-item {
position: relative;
counter-increment: list;
padding-left: 110px;
}

.StepProgress-item:not(:last-child) {
  padding-bottom: 20px;
}

.StepProgress-item::before {
display: inline-block;
content: '';
position: absolute;
left: 88px;
height: 100%;
width: 10px;
}

.StepProgress-item::after {
content: '';
display: inline-block;
position: absolute;
top: 2px;
left: 79px;
width: 20px;
height: 20px;
border: 2px solid #DCE5F4;
border-radius: 50%;
background-color: #DCE5F4;
}

.StepProgress-item::after:not(:last-child){
  top: 10px;
}

.StepProgress-item.is-done::before {
border-left: 2px solid var(--main-color);
top: 2px;
}

.StepProgress-item.is-done::after {
font-size: 10px;
color: #FFF;
text-align: center;
border: 2px solid var(--main-color);
background-color: var(--main-color);
}


/* Schedule.html style */
.bg-img{
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 0;
}

#inputrute .row{
  margin-top: 116px;
}

#inputrute .card{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 20px 32px 32px;
  gap: 16px;

  box-shadow: 0px 0px 36px rgba(10, 10, 10, 0.12);
  border-radius: 12px;
}

#inputrute .card-body{
  padding: 0;
}

.lbl-form{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.selectsch{
  padding: 8px 16px;
}

.cardsch p{
  background-color: #F7F7F7;
  padding: 4px 12px;
  border-radius: 96px;
  margin: 0;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #20573D;
}

.tujuancardsch{
  padding-left: 90px;
}

.arrowright{
  left: -15px;
  font-size: 38.11px;
  position: absolute;
  color: var(--main-color);
}

.btn-pesan{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 4px;
  width: 82px;
  height: 40px;

  background: #2F5597;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-family: var(--button-font);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.btn-pesan-tab{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 4px;
  width: 100%;
  height: 40px;

  background: #2F5597;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-family: var(--button-font);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
/* .btn-sch{
  width: 262.25px;
  height: 40px;
  background: #FFFFFF;  
  border: 1px solid #BABEC1;
  border-radius: 8px;
} */

#my-template{
  width: 100%;
}

/* login style */
#login{
  height: 100vh;
  background-color: #F7F9FD;
}

.img-login{
  width: 380px;
  height: 110px;
}

.login-tagline h1{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height, or 122% */
  
  text-align: center;
}

.btn-login{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 4px;
  
  width: 421px;
  height: 40px;
  
  /* Neutral/30 */
  
  background: #E4E9EC;
  border-radius: 8px;
}

.btn-login:hover{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 4px;
  
  width: 421px;
  height: 40px;
  
  /* Neutral/30 */
  
  background: var(--main-color);
  border-radius: 8px;

  color: #FFF;
}

#login a{
  text-decoration: none;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

#login label{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.persetujuan{
  width: 443px;;
}

#login form{
  margin: 240px;
  width: fit-content;
}

.login-tagline h3{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

/* register style */
#register{
  height: 100vh;
  background-color: #F7F9FD;
}

#register a{
  text-decoration: none;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

#register label{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.filter-tab{
  display: none;
  border: 1px solid var(--main-color);
}
.tab-row{
  display: none;
}

#register form{
  margin: 240px;
  margin-top: 100px;
  margin-bottom: 0;
  width: fit-content;
}
@media (max-width:1000px){
  #inputrute .card{
    display: none;
  } 
  .filter-schedule{
    display: none;
  } 
  .filter-tab{
    display: inline;
  } 
  .arrow-circle {
    display: none;
  }
  .float-right{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 12px;
gap: 4px;

width:100%;
height: 28px;


background: #F7F9FD;
border-radius: 96px;

flex: none;
order: 1;
flex-grow: 0; 
font-weight: 500;
font-size: 14px;
line-height: 20px;
  }
 .swal2-container.swal2-center>.swal2-popup{
   display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 35px;
    gap: 24px;

    position: relative;
    width: 320px;
    height: 308px;
    background: #EBF0F4;
    border-radius: 16px;
  }
  .swal2-title{
   width: 250px;
    height: 108px;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
  }
  .swal2-styled.swal2-confirm{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px;
gap: 4px;

width: 195px;
height: 44px;

/* Primary/Main */

background: #2F5597;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
  }
  .swal2-styled.swal2-cancel{
     display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px;
gap: 4px;

width: 195px;
height: 44px;

/* Primary/Main */

border-radius: 8px;
background: none;
border:1px solid #2F5597;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
  }
}

@media (max-width: 1000px) {
    nav .navbar-brand {
    margin-bottom: 21px;
}
.arrow-circle {
  display: flex;
}
.desktop-row{
  display: none;
}
.tab-row{
  display: flex;
}
  .reset-offcanvas {
    width: 32px;
    height: 6px;
    border: none;
    background-color: #BABEC1;
    border-radius: 96px;
    margin-top: 24px;
    position: absolute;
  }
    nav .nav-list {
        display: grid;
        position: absolute;
        background: var(--main-color);
        width: 100%;
        top: 40px;
        left: 0;
        border-radius: 10px;
        transform: translateY(-200%);
        z-index: -1;
        transition: .6s;
    }

    nav .nav-list .nav-item {
        padding-left: 35px;
    }

    nav .navbar-toggler {
        display: grid !important;
    }

}

nav .navbar-toggler {
    display: none;
    height: min-content;
    /* margin: 10px -10px 0 0; */
    cursor: pointer;
}

nav .navbar-toggler .bar {
    width: 20px;
    height: 3px;
    border: none;
    margin-bottom: 5px;
    background: #ffffff;
    border-radius: 10%;
    transition: .4s;
}

input {
    display: none;
}

input:checked ~ nav .nav-list {
    transform: translateY(0);
}

input:checked ~ nav .navbar-toggler {
    /* margin-top: 10px; */
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
    position: absolute;
    margin-bottom: 20px;
    transform: rotate(45deg);
  }
  
  input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
    display: none;
  }
  
  input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
  margin-bottom: 20px;
    transform: rotate(-45deg);
}